<div id="modal" class="hide">
    <div class = "content">
        <div class="header">
            <h1>Casos de Sumiço</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Veja os casos próximos a você</label>
            <div class="search field">
                <input 
                type="text" 
                name="search"
                placeholder="Buscar por bairro"
                >
                <button>
                    <img src="/icones/log-in.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>